{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpenPaws - Cancel</title>
</head>
<body>
<section class="cancel-page">

  <!-- =========================
       TOP BANNER
  ========================== -->
  <div class="top-banner"></div>

   <!-- =========================
       PAGE TITLE
  ========================== -->
  <h1 class="title">TRANSACTION</h1>
  <!-- =========================
       INTRO TEXT
  ========================== -->
  <div class="intro">
    <p class="intro-line">
      Platform donations and how funds are distributed.
      Full transparency of all financial activity in real time.
    </p>
  </div>

  <!-- =========================
       CANCEL MESSAGE
  ========================== -->
  <div class="transaction-message">
    <h2>Payment cancelled</h2>
    <p>No worries — you can try again anytime.</p>
  </div>

</section>
</body>
</html>

{% endblock %}