{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="shelters-page">
  <!-- =========================
       TOP BANNER
  ========================== -->
  <div class="top-banner"></div>

  <!-- =========================
       PAGE TITLE
  ========================== -->
  <h1 class="title">SHELTERS &VOLUNTEERS</h1>

 <!-- =========================
       INTRO TEXT
  ========================== -->
  <div class="intro">
    <p class="intro-line">
      Meet trusted shelters and volunteers caring for animals in need.
      OpenPaws helps donors discover rescue organisations with more
      transparency.
    </p>
  </div>

  <!-- =========================
       SHELTER LIST PAGE CONTENT
  ========================== -->
  {% if shelters %}
    <div class="shelters-grid">
      {% for shelter in shelters %}
        <article class="shelter-card">
          <div class="shelter-image-wrap">
            {% if shelter.image %}
              <img
                src="{{ shelter.image.url }}"
                alt="{{ shelter.name }}"
                class="shelter-image"
              />
            {% else %}
              <img
                src="{% static 'images/catdog.jpg' %}"
                alt="{{ shelter.name }}"
                class="shelter-image"
              />
            {% endif %}
          </div>

          <div class="shelter-card-content">
            <h2 class="shelter-name">{{ shelter.name }}</h2>

            <p class="shelter-info">
              <span class="shelter-label">Location:</span>
              {{ shelter.country }}, {{ shelter.city }}
            </p>

            <p class="shelter-info">
              <span class="shelter-label">Animals:</span>
              {{ shelter.animals_count }}
            </p>

            <p class="shelter-info">
              <span class="shelter-label">Trust:</span>
              {{ shelter.trust_points }}
            </p>

            <a
              href="{% url 'shelters:detail' shelter.pk %}"
              class="shelter-details-btn"
            >
              VIEW DETAILS
            </a>
          </div>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <div class="shelters-empty">
      <p>No shelters added yet.</p>
    </div>
  {% endif %}
</section>

{% endblock %}